:javascript
  function setSleep(newSleep) {
    var url = (newSleep) ? '/sleep/on' : '/sleep/off';
    var xhr = new XMLHttpRequest();
    xhr.open('POST', url, true);
    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    xhr.send(null); // no data
  }

  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('sleep').addEventListener('click', function() {
      setSleep(true);
    });

    var everyMinute = function() {
      var now = new Date();
      if (now.getHours() == 6 && now.getMinutes() == 0) {
        setSleep(false);
      }
    };
    window.setInterval(everyMinute, 30 * 1000);
  });

%button#sleep Turn off screen
