.section
  .time
    %input(type='text' value='0:15')
    %br
    %label SO FAR
    %br
    %input(type='text' value='0:15')
    %br
    %label ESTIMATE
    %br
    %br
    %button Pause
    %button Eject

  %dl
    %dt Now I will
    %dd
      %textarea code up mockups
  %dl
    %dt Goal
    %dd
      %textarea be recognized for my uniqueness
  %dl
    %dt Avoid
    %dd
      %textarea browsing Facebook or Reddit
  %dl
    %dt Difficulty
    %dd
      %textarea staying focused
  %dl
    %dt Done
    %dd
      %textarea

%br
.section
  %h1 New intention
  .categories
    .category
      %b Body
      %ul
        %li exercise
        %li eat
        %li comfort
        %li breathe
        %li hydrate
    .category
      %b Clean
      %ul
        %li physical
        %li virtual
    .category
      %b Social
      %ul
        %li write message
    .category
      %b Plan
      %ul
        %li maintain backlog
