:javascript
  var ESC_KEY_CODE   = 27;
  var F1_KEY_CODE    = 112;
  var F2_KEY_CODE    = 113;
  var F3_KEY_CODE    = 114;
  var F4_KEY_CODE    = 115;
  var F5_KEY_CODE    = 116;
  var F6_KEY_CODE    = 117;
  var F7_KEY_CODE    = 118;
  var F8_KEY_CODE    = 119;
  var _1_KEY_CODE    = 49;
  var _2_KEY_CODE    = 50;
  var _3_KEY_CODE    = 51;
  var _4_KEY_CODE    = 52;
  var _5_KEY_CODE    = 53;
  var _6_KEY_CODE    = 54;
  var _7_KEY_CODE    = 55;
  var _8_KEY_CODE    = 56;
  var SPACE_KEY_CODE = 32;
  var UP_KEY_CODE    = 38;
  var DOWN_KEY_CODE  = 40;
  var MILLIS_TO_LOSE_FOCUS = 60 * 1000;
  var MILLIS_TO_EXPIRE_MONITORING = 2 * 60 * 1000;

  var _ = require('underscore');

  function setSleep(newSleep) {
    var url = (newSleep) ? '/sleep/on' : '/sleep/off';
    var xhr = new XMLHttpRequest();
    xhr.open('POST', url, true);
    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    xhr.send(null); // no data
  }

  var IntentionSection = require('./app/IntentionSection.coffee');
  var  ScheduleSection = require('./app/ScheduleSection.coffee');
  var     AlertSection = require('./app/AlertSection.coffee');
  var   MorningSection = require('./app/MorningSection.coffee');
  var  TextAreaSection = require('./app/TextAreaSection.coffee');
  var   BedtimeSection = require('./app/BedtimeSection.coffee');
  document.addEventListener('DOMContentLoaded', function() {
    var alertSection =
      new AlertSection(document.getElementById('alert'));
    var intentionSection =
      new IntentionSection(document.getElementById('intention'), alertSection);
    var scheduleSection =
      new ScheduleSection(document.getElementById('schedule'), localStorage);
    var morningSection =
      new MorningSection(document.getElementById('morning'), localStorage);
    var bedtimeSection = new BedtimeSection(
      document.getElementById('bedtime'), localStorage);

    var showSection = function(newCurrentSection) {
      currentSection = newCurrentSection;
      _.forEach(['morning', 'intention', 'schedule', 'bedtime'],
          function(name2) {
        document.getElementById(name2).style.display = 'none';
      });
      document.getElementById(currentSection).style.display = 'block';
    };
    var currentSection = 'morning';
    showSection(currentSection);

    window.addEventListener('keydown', function(e) {
      if (e.keyCode == F1_KEY_CODE) {
        showSection('morning');
        morningSection.focus();
        e.preventDefault();
      } else if (e.keyCode == F2_KEY_CODE) {
        showSection('intention');
        intentionSection.focus();
        e.preventDefault();
      } else if (e.keyCode == F3_KEY_CODE) {
        showSection('schedule');
        scheduleSection.focus();
        e.preventDefault();
      } else if (e.keyCode == F4_KEY_CODE) {
        showSection('bedtime');
        bedtimeSection.focus();
        e.preventDefault();
      } else if (e.keyCode == F5_KEY_CODE) {
        setSleep(true);
        e.preventDefault();
      }
    });

    document.getElementById('keyCapture').addEventListener(
        'keydown', function(e) {
      if (currentSection == 'morning') {
        if (e.keyCode == UP_KEY_CODE) {
          morningSection.changePlanHighlightedLineNum(-1);
          e.preventDefault();
        } else if (e.keyCode == DOWN_KEY_CODE) {
          morningSection.changePlanHighlightedLineNum(1);
          e.preventDefault();
        }
      } else if (currentSection == 'bedtime') {
        if (e.keyCode == UP_KEY_CODE) {
          bedtimeSection.changePlanHighlightedLineNum(-1);
          e.preventDefault();
        } else if (e.keyCode == DOWN_KEY_CODE) {
          bedtimeSection.changePlanHighlightedLineNum(1);
          e.preventDefault();
        }
      }

      if (e.keyCode == _1_KEY_CODE) {
        showSection('morning');
        morningSection.focus();
        e.preventDefault();
      } else if (e.keyCode == _2_KEY_CODE) {
        showSection('intention');
        intentionSection.focus();
        e.preventDefault();
      } else if (e.keyCode == _3_KEY_CODE) {
        showSection('schedule');
        scheduleSection.focus();
        e.preventDefault();
      } else if (e.keyCode == _4_KEY_CODE) {
        showSection('bedtime');
        bedtimeSection.focus();
        e.preventDefault();
      } else if (e.keyCode == _5_KEY_CODE) {
        setSleep(true);
        e.preventDefault();
      }
    });

    var aWhileSinceInputTimeout = null;
    var aWhileSinceInput = function() {
      document.getElementById('keyCapture').focus();
      aWhileSinceInputTimeout = null;
    };
    window.addEventListener('keydown', function(e) {
      window.clearTimeout(aWhileSinceInputTimeout);
      aWhileSinceInputTimeout = window.setTimeout(aWhileSinceInput,
        MILLIS_TO_LOSE_FOCUS);

      if (e.keyCode == ESC_KEY_CODE) {
        document.getElementById('keyCapture').focus();
        e.preventDefault();
      }
    });
    window.addEventListener('click', function(e) {
      window.clearTimeout(aWhileSinceInputTimeout);
      aWhileSinceInputTimeout = window.setTimeout(aWhileSinceInput,
        MILLIS_TO_LOSE_FOCUS);
    });

    var checkIfReminderNeeded = function() {
      if (aWhileSinceInputTimeout == null) {
        if (bedtimeSection.isPastBedtime() && currentSection != 'bedtime') {
          showSection('bedtime');
        } else if (morningSection.hasHighlightedLineNum()) {
          setSleep(false); // turn on screen if it's off
          showSection('morning');
        }
      }
    };
    window.setInterval(checkIfReminderNeeded, 60 * 1000);

    intentionSection.run();
    scheduleSection.run();
    alertSection.run();
    morningSection.run();
    bedtimeSection.run();
    document.getElementById('keyCapture').focus();

    var expireMonitoring = function() {
      document.getElementById('monitoring').style.backgroundColor = 'red';
    };
    var expireMonitoringTimeout = null;

    var stream = new EventSource('/stream');
    stream.onmessage = function(e) {
      if (e.data === 'noticed-browsing') {
        if (!intentionSection.isWithinEstimate()) {
          setSleep(false); // turn on screen if it's off
          alertSection.addAlert(
            'if browsing, stand or schedule; store after');
        }
      } else {
        console.log('Unknown message ' + e.data);
      }
    };
    stream.addEventListener('update_monitoring_stats', function(e) {
      var data = JSON.parse(e.data);
      console.log('update_monitoring_stats', data);
      var html =
        "papertrail=" + parseInt(data.papertrail.log_data_transfer_used_percent) + "," +
        "health_status=" + data.newrelic.health_status + ", " +
        "last_reported_at=" + data.newrelic.last_reported_at + ", " +
        "response_time=" + data.newrelic.application_summary.response_time + ", " +
        "<br>" + "servers=";
      for (var i = 0; i < 3; i += 1) {
        html += data.newrelic2.servers[i].summary.cpu + "/";
        html += data.newrelic2.servers[i].summary.memory + "/";
        html += data.newrelic2.servers[i].summary.fullest_disk + ", ";
      }
      document.getElementById('monitoring').innerHTML = html;

      if (expireMonitoringTimeout) {
        window.clearTimeout(expireMonitoringTimeout);
      }
      expireMonitoringTimeout =
        window.setTimeout(expireMonitoring, MILLIS_TO_EXPIRE_MONITORING);
    });
  }, false);

#monitoring Waiting for monitoring update...
#morning
#intention
#schedule
#alert
#bedtime
%input#keyCapture(type='text' style='background-color:black; border:0;')
