:javascript
  var IntentionSection = require('./app/IntentionSection.coffee');
  document.addEventListener('DOMContentLoaded', function() {
    React.renderComponent(IntentionSection(), document.getElementById('intention'));
  }, false);

#intention
