:javascript
  var IntentionSection = require('./app/IntentionSection.coffee');
  document.addEventListener('DOMContentLoaded', function() {
    (new IntentionSection(document.getElementById('intention'))).run();
  }, false);

#intention
