:javascript
  var ESC_KEY_CODE   = 27;
  var F1_KEY_CODE    = 112;
  var F2_KEY_CODE    = 113;
  var F3_KEY_CODE    = 114;
  var F4_KEY_CODE    = 115;
  var F5_KEY_CODE    = 116;
  var _1_KEY_CODE    = 49;
  var _2_KEY_CODE    = 50;
  var _3_KEY_CODE    = 51;
  var _4_KEY_CODE    = 52;
  var _5_KEY_CODE    = 53;
  var SPACE_KEY_CODE = 32;
  var UP_KEY_CODE    = 38;
  var DOWN_KEY_CODE  = 40;
  var MILLIS_TO_LOSE_FOCUS = 60 * 1000;

  var _ = require('underscore');

  function setSleep(newSleep) {
    var url = (newSleep) ? '/sleep/on' : '/sleep/off';
    var xhr = new XMLHttpRequest();
    xhr.open('POST', url, true);
    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    xhr.send(null); // no data
  }

  var IntentionSection = require('./app/IntentionSection.coffee');
  var  ScheduleSection = require('./app/ScheduleSection.coffee');
  var     AlertSection = require('./app/AlertSection.coffee');
  var   MorningSection = require('./app/MorningSection.coffee');
  document.addEventListener('DOMContentLoaded', function() {
    var alertSection =
      new AlertSection(document.getElementById('alert'));
    var intentionSection =
      new IntentionSection(document.getElementById('intention'), alertSection);
    var scheduleSection =
      new ScheduleSection(document.getElementById('schedule'), localStorage);
    var morningSection =
      new MorningSection(document.getElementById('morning'));

    var showSection = function(newCurrentSection) {
      currentSection = newCurrentSection;
      _.forEach(['morning', 'intention', 'schedule'],
          function(name2) {
        document.getElementById(name2).style.display = 'none';
      });
      document.getElementById(currentSection).style.display = 'block';
    };
    var currentSection = 'morning';
    showSection(currentSection);

    window.addEventListener('keydown', function(e) {
      if (e.keyCode == F1_KEY_CODE || e.keyCode == _1_KEY_CODE) {
        showSection('morning');
        morningSection.focus();
        e.preventDefault();
      } else if (e.keyCode == F2_KEY_CODE || e.keyCode == _2_KEY_CODE) {
        showSection('intention');
        intentionSection.focus();
        e.preventDefault();
      } else if (e.keyCode == F3_KEY_CODE || e.keyCode == _3_KEY_CODE) {
        showSection('schedule');
        scheduleSection.focus();
        e.preventDefault();
      } else if (e.keyCode == F4_KEY_CODE || e.keyCode == _4_KEY_CODE) {
        setSleep(true);
        e.preventDefault();
      }
    });

    document.getElementById('keyCapture').addEventListener(
        'keydown', function(e) {
      if (currentSection == 'morning') {
        if (e.keyCode == UP_KEY_CODE) {
          showSection('morning');
          morningSection.changePlanHighlightedLineNum(-1);
          e.preventDefault();
        } else if (e.keyCode == DOWN_KEY_CODE) {
          showSection('morning');
          morningSection.changePlanHighlightedLineNum(1);
          e.preventDefault();
        }
      }
    });

    var aWhileSinceInputTimeout = null;
    var aWhileSinceInput = function() {
      document.getElementById('keyCapture').focus();
      aWhileSinceInputTimeout = null;
    };
    window.addEventListener('keydown', function(e) {
      window.clearTimeout(aWhileSinceInputTimeout);
      aWhileSinceInputTimeout = window.setTimeout(aWhileSinceInput,
        MILLIS_TO_LOSE_FOCUS);

      if (e.keyCode == ESC_KEY_CODE) {
        document.getElementById('keyCapture').focus();
        e.preventDefault();
      }
    });
    window.addEventListener('click', function(e) {
      window.clearTimeout(aWhileSinceInputTimeout);
      aWhileSinceInputTimeout = window.setTimeout(aWhileSinceInput,
        MILLIS_TO_LOSE_FOCUS);
    });

    var checkIfReminderNeeded = function() {
      if (aWhileSinceInputTimeout == null) {
        if (morningSection.hasHighlightedLineNum()) {
          setSleep(false); // turn on screen if it's off
          showSection('morning');
        }
      }
    };
    window.setInterval(checkIfReminderNeeded, 60 * 60 * 1000);

    intentionSection.run();
    scheduleSection.run();
    alertSection.run();
    morningSection.run();
    document.getElementById('keyCapture').focus();

    var stream = new EventSource('/stream');
    stream.onmessage = function(e) {
      if (e.data === 'noticed-browsing') {
        if (!intentionSection.isWithinEstimate()) {
          setSleep(false); // turn on screen if it's off
          alertSection.addAlert('if browsing, stand or schedule; store after');
        }
      }
    };
  }, false);

#morning
#intention
#schedule
#alert
%input#keyCapture(type='text' style='background-color:black; border:0;')
