!!!
%html
  %head
    %title Intention Monitor
    %link(rel='stylesheet' type='text/css' href='/stylesheets/app.css')
  %body
    :javascript
      var oldDebug = window.console.debug;
      window.console.debug = function() {
        if (arguments[0] === 'Download the React DevTools for a better development experience: http://fb.me/react-devtools') { return; }
        oldDebug.apply(window.console, arguments);
      };
    %script(src='/javascripts/vendor.js')
    %script(src='/javascripts/browserified.js')
    :javascript
      if (typeof(require) === 'undefined')
        alert("Couldn't load browserified.js; run rake public");
    = yield
