$input-background-color: #000
$input-foreground-color: #0f0

body
  margin: 0
  font-family: sans-serif
  background: black
  color: #0f0

#keyCapture
  position: absolute
  top: -20px

$section-padding: 20px
.flashing
  .section
    background-color: red

.section
  border-bottom: 1px #060 solid
  width: 800px - $section-padding * 2
  padding: $section-padding
  position: relative

  .key-label
    position: absolute
    top: 0
    left: 0
    font-size: 20pt
    border: 1px #040 solid
    padding: 5px

  $time-width: 100px - 1px - 1px
  .time
    float: right
    text-align: right
    input
      width: $time-width
      font-size: 30pt
      text-align: right
      background: black
      color: $input-foreground-color
      background-color: $input-background-color
      border: 0
    label
      font-size: 15pt
      color: #060

  textarea
    width: 800px - $section-padding * 2 - 10px - 10px - 10px - $time-width
    height: 500px
    background-color: $input-background-color
    color: $input-foreground-color
    border: 0
    font-size: 20pt
    font-family: sans-serif
    // remove ugly gray right box in chrome os
    overflow: hidden

  button
    background-color: #060
    color: black
    border: 0

  &#schedule
    .hour
      float: left
      display: inline-block
      width: 47px
      color: #090
    textarea
      width: 800px - $section-padding * 2
      background-color: $input-background-color
      color: $input-foreground-color
      border: 0
      // remove ugly gray right box in chrome os
      overflow: hidden

      &.js-activities-text
        height: 15px
        font-size: 12pt
        font-family: sans-serif

      &.js-notes-text
        height: 300px
        font-size: 30pt
        font-family: monospace

    .duration
      position: absolute
      background-color: green
      height: 20px
      top: 10px
      color: black
      overflow: hidden
    .current-time
      position: absolute
      background-color: #0f0
      width: 5px
      height: 45px
      top: 10px
      color: black

.pause-symbol
  display: none
.section.paused
  background-color: #040
  textarea
    background-color: #040
  input
    background-color: #040
  .pause-symbol
    display: block
    div:nth-child(1)
      position: absolute
      top: 70px
      left: 350px
      width: 100px
      height: 100px
      background-color: green
    div:nth-child(2)
      position: absolute
      top: 85px
      left: 365px
      width: 30px
      height: 70px
      background-color: black
    div:nth-child(3)
      position: absolute
      top: 85px
      left: 405px
      width: 30px
      height: 70px
      background-color: black
